# Default ignored files
/shelf/
/workspace.xml
# Editor-based HTTP Client requests
/httpRequests/
/.name
/misc.xml
/modules.xml
/inspectionProfiles/profiles_settings.xml
/Shields.iml
/vcs.xml
/misc-Petey_School.xml
/vcs-Petey_School.xml
/workspace-Petey_School.xml
